.title {
    margin: px
}

:root.light {
    --color-bckgrnd: white;
    --text-color: black;
    --border-clr: black;
}

:root.dark {
    --text-color: white;
    --color-bckgrnd: black;
}

body {
    background-color: var(--color-bckgrnd);
    color: var(--text-color);
}

.container_1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    height: 250px;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    border-radius: 1em 2em 3em 4em;



}



.container_1 div {
    background-color: blue;
    border: 5px solid white;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;

}

.container_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container_2 .a {
    text-align: center;
    background-color: aqua;





}

.container_2 .b {
    text-align: center;
    background-color: lightcoral;


}

.container_2 .cat {
    background-color: lightgreen;
    text-align: center;

}

.pseudo-class:hover {
    background-color: aqua;
    font-size: xx-large;

}

.active:active {
    background-color: greenyellow;
}

li::marker {
    color: royalblue;
}

button {
    background-color: var(--color-bckgrnd);
    color: var(--text-color);
    border-color: var(--border-clr);

}